@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --blue-clr: #3b82f6;
  --indigo-clr: #6366f1;
  --green-clr: #22c55e;
  --red-clr: #dc2626;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr auto;

  font-family: "Roboto", sans-serif;
}

header {
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 6px 1px #ddd;
}
header h1 a {
  text-decoration: none;
  color: inherit;
}

/* ========== main cards ============ */
.cards-container {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.card {
  padding: 1.2rem;
  width: 315px;
  height: 355px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  transition: ease 0.2s;
}

.book-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.book-card p[data-info="title"] {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 1em;
}
.book-card p[data-info="pages"] {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.book-card button[data-info="status"] {
  position: relative;
  width: 8rem;
  text-align: start;
  padding: 0.25rem 0.4rem;
  border: none;
  border-bottom: 2px solid lightgray;
  background-color: #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 0.3rem;
  z-index: 0;
  cursor: pointer;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.book-card button[data-info="status"]::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--green-clr);
  border-radius: inherit;
  z-index: -1;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}
.book-card button[data-info="status"].not-read {
  text-align: end;
}
.book-card button[data-info="status"].not-read::before {
  background-color: var(--red-clr);
  transform: translateX(100%);
  z-index: -1;
}

.book-card .delete-btn {
  position: absolute;
  top: 6%;
  right: 6%;
  font-size: 2rem;
  border-radius: 100%;
  color: gray;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 200ms;
  cursor: pointer;
}
.book-card .delete-btn:hover {
  color: #000;
}

.new-book-btn {
  cursor: pointer;
  border: 5px dashed grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: grey;
}
.card:hover {
  transform: scale(1.05);
}

/* New Book Form Modal */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.1);
}
dialog {
  border: none;
  border-radius: 0.7rem;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
  background-color: rgb(255 255 255 / 0.2);
  backdrop-filter: blur(10px);
  color: #444;

  width: 400px;
}

form > p {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.4rem;
}

.new-book-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-row {
  position: relative;
}
.form-row label.animated-label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.5s;
}

input[type="text"]:focus ~ label,
input[type="text"]:valid ~ label,
input[type="number"]:focus ~ label,
input[type="number"]:valid ~ label {
  top: -5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background-color: transparent;
  border-bottom: 2px solid grey;
  padding: 0 35px 0 5px;
  color: black;
}
span.input {
  border-bottom: 2px solid grey;
  padding: 1px 10px;
}
span.input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid grey;
}
input[type="checkbox"] {
  accent-color: var(--blue-clr);
}

.new-book-form button[type="submit"] {
  height: 35px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  border-radius: 100vh;
  color: #fff;
  background-color: var(--blue-clr);
  outline: none;
  border: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.new-book-form button[type="submit"]:hover {
  background-color: var(--indigo-clr);
  transform: translateY(-0.15rem) scale(1.01);
}

.slider {
  width: 10.7rem;
  height: 1.5rem;
  border: 2px solid #bbb;
  border-radius: 0.4rem;
  position: relative;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.slider .button {
  background: var(--red-clr);
  border: none;
  width: 50%;
  height: 100%;
  border-radius: 0.4rem;
  pointer-events: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

.slider .button::after {
  content: "Not Read";
}

.status-check input[type="checkbox"] {
  display: none;
}

.status-check input[type="checkbox"]:checked ~ .slider > .button {
  transform: translateX(100%);
  background: var(--green-clr);
}
.status-check input[type="checkbox"]:checked ~ .slider > .button::after {
  content: "Read";
}

/* footer */
footer {
  background-color: lightgray;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  font-weight: 600;
}
